@media (min-width: 1280px) {
  .wrapper-menu {
    display: flex;
    text-align: center;
    background-color: #1a2b3c;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em 0.5em 2em;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 999; /* Ajouter un z-index pour s'assurer que le menu reste au-dessus du contenu lors du défilement */
  }

  .logo-navbar {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 25%;
  }

  .logo-img {
    max-height: 10vh;
    min-height: 3em;
    max-width: auto;
    object-fit: contain;
    padding: 0.3em;
  }

  .logo-img2 {
    max-width: 12em;
    min-width: 8em;
    object-fit: contain;
    margin-left: 1em;
    margin-right: 1em;
  }

  .wrapper-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .wrapper-language-reservation {
    display: flex;
    align-items: right;
    justify-content: right;
    padding-left: 1em;
    width: 25%;
  }

  .button-wrapper-reservation {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .button-wrapper-language {
    display: flex;
    max-width: 30px;
    min-width: 15px;

    height: auto;
    max-height: 6vh;
  }

  .menu-burger {
    display: none;
  }
}

@media (min-width: 1080px) and (max-width: 1280px) {
  .wrapper-menu {
    display: flex;
    text-align: center;
    background-color: #1a2b3c;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em 0.5em 2em;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 999; /* Ajouter un z-index pour s'assurer que le menu reste au-dessus du contenu lors du défilement */
  }

  .logo-navbar {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 25%;
  }

  .logo-img {
    max-height: 10vh;
    min-height: 3em;
    max-width: auto;
    object-fit: contain;
    padding: 0.3em;
  }

  .logo-img2 {
    display: none;
  }

  .wrapper-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .wrapper-language-reservation {
    display: flex;
    align-items: right;
    justify-content: right;
    padding-left: 1em;
    width: 25%;
  }

  .button-wrapper-reservation {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .button-wrapper-language {
    display: flex;
    max-width: 30px;
    min-width: 15px;

    height: auto;
    max-height: 6vh;
  }

  .menu-burger {
    display: none;
  }
}
