@media (min-width: 1280px) {
  .wrapper-menu {
    display: flex;
    text-align: center;
    background: radial-gradient(closest-side, #2d5074 30%, #1a2b3c 70%);
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em 0.5em 2em;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 999; /* Ajouter un z-index pour s'assurer que le menu reste au-dessus du contenu lors du défilement */
  }

  .logo-navbar {
    display: flex;
    justify-content: left;
    width: 25%;
  }

  .logo-img {
    max-height: 10vh;
    min-height: 3em;
    max-width: auto;
    object-fit: contain;
    padding: 0.3em;
  }

  .logo-img2 {
    max-width: 12em;
    min-width: 8em;
    object-fit: contain;
    margin-left: 1em;
    margin-right: 1em;
  }

  .wrapper-nav {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  .wrapper-language-reservation {
    display: flex;
    justify-content: right;
    padding-left: 1em;
    width: 25%;
  }

  .button-wrapper-reservation {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .button-wrapper-language {
    display: flex;
    max-width: 30px;
    min-width: 15px;

    height: auto;
    max-height: 6vh;
  }
  .div-RestaurantMenuOutlinedIcon {
    display: none;
  }
  .div-flagicon {
    display: Flex;
    align-items: center;
    justify-content: center;
  }

  .lottie-burger-menu {
    display: none;
  }

  svg {
    display: none;
  }
}

/* Menu responsive en dessous entre 958px et 1280px */

@media (min-width: 958px) and (max-width: 1280px) {
  .wrapper-menu {
    display: flex;
    text-align: center;
    background: radial-gradient(closest-side, #2d5074 30%, #1a2b3c 70%);
    align-items: center;
    justify-content: center;
    padding: 0.5em 2em 0.5em 2em;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 1000;
  }

  .logo-navbar {
    display: flex;
    justify-content: left;
    width: 25%;
  }

  .logo-img {
    max-height: 10vh;
    min-height: 3em;
    max-width: auto;
    object-fit: contain;
    padding: 0.3em;
  }

  .logo-img2 {
    display: none;
  }

  .wrapper-nav {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  .wrapper-language-reservation {
    display: flex;
    justify-content: right;
    padding-left: 1em;
    width: 25%;
  }
  .div-RestaurantMenuOutlinedIcon {
    justify-content: center;
    width: 33%;
  }

  .div-flagicon {
    justify-content: center;
    width: 33%;
  }

  .div-wrapper-language {
    display: none;
  }

  .button-wrapper-language {
    display: flex;
    max-width: 30px;
    min-width: 15px;
    height: auto;
    max-height: 6vh;
  }

  .lottie-burger-menu svg {
    display: flex;
    width: 33%;
    max-width: 30px;
    min-width: 30px;
  }
}

/* Menu responsive en dessous entre 720px et 958px */

@media (min-width: 720px) and (max-width: 958px) {
  .wrapper-menu {
    display: flex;
    text-align: center;
    background: radial-gradient(closest-side, #2d5074 30%, #1a2b3c 70%);
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em 0.5em 2em;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 1000;
  }

  .logo-navbar {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 50%;
  }

  .logo-img {
    max-height: 10vh;
    min-height: 3em;
    max-width: auto;
    object-fit: contain;
    padding: 0.3em;
  }

  .logo-img2 {
    max-width: 10em;
    min-width: 8em;
    object-fit: contain;
    margin-left: 1em;
    margin-right: 1em;
  }

  .wrapper-nav {
    display: none;
  }

  .wrapper-language-reservation {
    display: flex;
    justify-content: right;
    padding-left: 1em;
    width: 25%;
  }
  .div-RestaurantMenuOutlinedIcon {
    justify-content: center;
    width: 33%;
  }

  .div-flagicon {
    justify-content: center;
    width: 33%;
  }

  .div-wrapper-language {
    display: none;
  }

  .button-wrapper-language {
    display: flex;
    max-width: 30px;
    min-width: 15px;
    height: auto;
    max-height: 6vh;
  }

  .lottie-burger-menu svg {
    display: flex;
    width: 33%;
    max-width: 30px;
    min-width: 30px;
  }
}
/* taille entre 360px de 720px */

@media (min-width: 360px) and (max-width: 720px) {
  .wrapper-menu {
    display: flex;
    text-align: center;
    background: radial-gradient(closest-side, #2d5074 30%, #1a2b3c 70%);
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em 0.5em 2em;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 1000;
  }

  .logo-navbar {
    display: flex;
    justify-content: left;
    width: 60%;
  }

  .logo-img {
    max-height: 10vh;
    min-height: 3em;
    max-width: auto;
    object-fit: contain;
    padding: 0.3em;
  }

  .logo-img2 {
    max-width: 8em;
    min-width: 6em;
    object-fit: contain;
    margin-left: 1em;
    margin-right: 1em;
  }

  .wrapper-nav {
    display: none;
  }

  .wrapper-language-reservation {
    display: flex;
    justify-content: right;
    padding-left: 1em;
    width: 20%;
  }
  .div-RestaurantMenuOutlinedIcon {
    display: none;
  }

  .div-flagicon {
    display: flex;
  }

  .div-wrapper-language {
    display: none;
  }

  .button-wrapper-language {
    display: flex;
    max-width: 30px;
    min-width: 15px;
    height: auto;
    max-height: 6vh;
  }

  .lottie-burger-menu svg {
    display: flex;
    max-width: 30px;
    min-width: 30px;
  }
}

/* taille en dessous de 360px */

@media (max-width: 360px) {

  .wrapper-menu {
    display: flex;
    text-align: center;
    background: radial-gradient(closest-side, #2d5074 30%, #1a2b3c 70%);
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em 0.5em 2em;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 1000;
  }

  .logo-navbar {
    display: flex;
    justify-content: left;
    width: 60%;
  }

  .logo-img {
    max-height: 10vh;
    min-height: 3em;
    max-width: auto;
    object-fit: contain;
    padding: 0.3em;
  }

  .logo-img2 {
    max-width: 8em;
    min-width: 6em;
    object-fit: contain;
    margin-left: 1em;
    margin-right: 1em;
  }

  .wrapper-nav {
    display: none;
  }

  .wrapper-language-reservation {
    display: flex;
    justify-content: right;
    padding-left: 1em;
    width: 20%;
  }
  .div-RestaurantMenuOutlinedIcon {
    display: none;
  }

  .div-flagicon {
    display: flex;
  }

  .div-wrapper-language {
    display: none;
  }

  .button-wrapper-language {
    display: none;
  }

  .lottie-burger-menu svg {
    display: flex;
    max-width: 30px;
    min-width: 30px;
  }
}